h4 {
    font-weight: bold;
}
.main-title {
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
}
.label-m0 {
    padding: 0px;
}
.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.part {
    padding: 20px;
    border: 1px dashed black;
    margin-bottom: 20px;
}
.part * {
    margin-bottom: 1px;
}
.part input[type="text"] {
    width: 100%;
}
#part1,
.color1 {
    background-color: #FFE2AB;
}
#part2,
.color2 {
    background-color: #9DA9FF;
}
#part3,
.color3 {
    background-color: #CCEFC0;
}
#part4,
.color4 {
    background-color: #FBDDDF;
}
#part-download {
    background-color: #FFE2AB;
}
#part-download * {
    margin-bottom: 5px;
}
#part-download input[type="password"] {
    font-size: 35px
}
.wide-text {
    padding-bottom: 5px
}
.wide-text textarea {
    max-width: 100%;
    min-width: 100%;
    height: 100px;
}
#part-err {
    background-color: #FF6C6C;
}
#part-suc {
    background-color: #9AFB98;
}
#part-err .err-id, #part-suc .err-id{
    text-align: center;
    font-size: 150px;
    line-height: 120px;
}
#part-err .err-tx , #part-suc .err-tx{
    text-align: center;
    font-size: 57px;
    line-height: 60px;
}